.two-columns__paragraph{
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    font-family: 'Inter', 'Arial', sans-serif;
}
.two-columns__paragraph:last-of-type{
    margin-bottom: 0;
}